html {
  font-family: helvetica;
  font-weight: bold;
  font-size: 18px;
}

header {
  background-color: black;
  color: white;
}
.header {
  display: flex;
  align-items: center;
  width: 960px;
}
.header img {
  height: 1.5rem;
  width: auto;
  position: relative;
  display: inline-block;
  left: 0.5rem;
  padding-right: 1rem;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}
.header h4 {
  display: inline;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  font-size: 1rem;
}
